
/**全局样式**/
*{font-family:Arial, Helvetica, sans-serif;font-size:12px;font-weight:normal;color:#333;line-height:1.6em;margin:0;padding:0;list-style:none;text-decoration:none;}
img{border:0;}
body {margin:0; font:12px "\5B8B\4F53",sans-serif;background:#ffffff;}
textarea{resize:none;}
img{vertical-align:top;border:0;}
em {font-style:normal;}
.left{float:left;}
/* link css */
a {color:#333333; text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {color:#ba2636;text-decoration:none;}
a:active {color:#ba2636;}

/**浮动**/
.flr{float:left;}
.clear{clear:both;overflow:hidden;}

/**字体**/
.fontHery{color:#e1e1e1;}
.fontRed{color:#ed3732;}
.bold{font-weight:bold;margin:0 5px;}
.mrgTB10{margin:10px 0}